*{
    font-family: 'Montserrat'
}

div.col{
    display: flex;
    flex-direction: column;
}
div.col:first-of-type{
    width: fit-content;
}

span{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

ion-avatar ion-img{
    width: 100px;height: 100px;
}

ion-slide, ion-slides{
    width: 100%;
}

ion-slide{
    padding-top: 10px;
    height: 50vh
}

ion-segment-button{
    text-transform: capitalize;
}

.profile{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

ion-input, ion-select{
    border: 0.5px solid #1B3B6F;
    border-radius: 10px;
    margin: 6px 0;
    text-align: left;
}

ion-label{
    text-align: left;
}

.startup_holder{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    padding: .4em 0.8em;
}
.startup{
    display:flex;
    flex-direction: column;
    text-align: left;
}

.profile_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}

/*
.btn_holder{
    width: 100%;

}

.btn_holder button{
    width: 129.03px;
    height: 40px;
    background: #CED7ED;
    border-radius: 10px;
}*/

.auth{
    width: 100%;
    padding: 0 1.5em;

}

.auth_section{
    display: flex;
    gap: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.auth_section div{
    text-align: left;
    width: 70%;
}

.auth_section h3 { font-size: 1.1em }
.auth_section p { font-size: 1em }

.auth_section button{
    border: 3px solid #1B3B6F;
    box-shadow: 2px 2px 5px 2px rgba(27, 59, 111, 0.15);
    border-radius: 10px;
    margin: 0.5em 0;
    width: 50%;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    color: #21295C;
    background: #fff;
}

@media (max-width: 465px) {
    div.row{
        align-items: center;
    }

    .auth_section div{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .profile{
        display: flex;
        flex-direction: column;
    }

    .auth_section button{
        width: 100%;
        font-size: 0.9em;
    }

}