/* To import the colors of the brand */
@import "./colors.css";

.campaign-head{
     font-weight: bold !important;
     font-size: xx-large;
     color: var(--primary);
}
.campaign-body{
     font-size: medium !important;
}

.progress-bar{
     color: var(--primary) !important;
     background-color: var(--primary) !important;
}
.camp-head{
     text-align: center;
     font-size: x-large !important;
     font-weight: bold;
     color: var(--primary);
     margin-bottom: 1em;
}

.form{
     width: fit-content;
     margin: 0 auto;
     text-align: center;
     background-color: white;
     padding: 2em;
     border-radius: 10px;
     margin: 1em auto;
}
.submit-btn{
     background-color: var(--primary);
     border: none;
}
.submit-btn:hover{
     background-color: #294491;
}