.card-body{
    height: fit-content;
    width: 250px;
    border-radius: 13px;
}

.card-content{
    width: auto;
    padding: 7px;
    height: 100%;
    display: flex;
}

#list-item:hover{
    background: #c7c7c7;
}

.horizontal-card{
    flex-direction: row;
}