/* To import the colors of the brand */
@import "./colors.css";

/* Styling to change the appearance of the scroll bars */
/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgba(33, 41, 92, 0.1);
  
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(33, 41, 92, 0.6);
    border-radius: 3px;
}
  
  /* The arrows at the beginning and end*/
::-webkit-scrollbar-button{
    display: none;
}
  /* the track (progress bar) NOT covered by the handle. */
  

.investors-details{
    width: 100%;
    padding: 15px;
}

.investor-entry{
    font-size: 17px;
}

.list-group-item{ /* Style for bootstrap list group */
    height: 65px; 
    background: var(--altfade);
}

#searchbar{
    padding: 0;
    width: 60%;
    --box-shadow: 0;
    --background: var(--altfade);
    --placeholder-color: var(--secondary);
    --icon-color: var(--secondary);
    --border-radius: 7px;
    --placeholder-font-weight: 600;

}

.investors-list{
    border-radius: 6px;
}

.list-group-item:first-of-type{
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
}

#label h2, #label p{
    padding-left: 15px;
    color: var(--primary);
}

#label h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

h5, p{
    color: var(--primary);
    margin: 0;
}

@media screen and (max-width: 425px){
    #searchbar{
        width: 100%;
    }

}

@media screen and (min-width:450px) and (max-width: 768px){

    
}