/* To import the colors of the brand */
@import "./colors.css";

.menu{
  --width: 50px;
}

/*
.split-pane-md.split-pane-visible>.split-pane-side {
  min-width: 77px;
  max-width: 4%;
  border-right: var(--border);
  border-left: 0;
}

*/

ion-menu ion-header, ion-menu ion-content {
    --background: var(--primary);
}

ion-item{
  --background: var(--primary);
  height: max-content;
  display: flex;
  align-items: center;
  margin: .5em auto;
}

ion-icon{
  color: #f5f5f5;
}
.label{
  font-family: 'Montserrat', sans-serif;
  font-size: large !important;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

ion-menu.md{
  width: 16rem;
}
ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  --width: 100%;
  padding: 20px 0;
  background: var(--primary);


}

.not-active{
  opacity: 0.7;
  color: #f5f5f5;
  display: flex;
  align-items: center;
}

.active{
  --background: var(--accent);
  color: var(--primary);
  border-radius: 10px ;
  font-weight: bold !important;
  opacity: 0.9;
  display: flex;
  align-items: center;
}

.pro-icon{
  background: var(--accent);
  opacity: 0.9;
  color: var(--primary);
  font-size: x-small;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 0 .5em;
  font-weight: bold;
}

.pro-icon-active{
  background: var(--primary);
  opacity: 0.9;
  color: var(--accent);
  font-size: x-small;
  padding: 2px 5px;
  border-radius: 5px;
  margin: 0 .5em;
  font-weight: bold;
}
/* ion-item{
  width: 100%;
  
  --background: transparent;
} */
ion-item .divider{
  height: 1px !important;
  width: 100%;
  opacity: 0.8;
  background: var(--accent);
  border-radius: 5px;
}


@media screen and (max-width:768px) {
  ion-menu.md{
    width: 269px;
  }

  ion-menu.md ion-list {
    width: 250px;
  }
}
