/* To import the colors of the brand */
@import "./colors.css";


.toolbar-icon-cont{
    color: var(--primary) ;
}
.toolbar-icon{
    font-size: large; 
    margin: auto 1em;
}



.overview-main{
    margin-top: 0 !important;
}
.overview-tag{
    margin: 1em 0 0 2em;
    font-weight: bold;
    color: var(--primary);
}
.salutation{
    font-size: large;
    color: var(--primary);
    font-weight: bold;

}
/* Css for the banner style */
.ban-stack{
    overflow-x: scroll;
}
.banner-head{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    font-weight: bold;
}
.banner-cont{
    height: max-content;
    width: max-content;
    min-width: 20em;
    min-height: 50px;
    color: white;
    border-radius: 10px;
    margin: 1em 2em;
    padding: 1em;
}

.banner-cont p{
    font-size: 1em;
    
}

/* End of Bannner styles */
.ohead{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary);
    font-weight: bold;
}
.overview-row2{
    margin: 2em auto;
}

.setup{
    text-align: left !important;
}
.setup ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.setup input{
    accent-color: var(--secondary);
}
.setup-list{
    font-size:1em;
    /* font-weight:bold; */
    
}
.quick-campaign h1{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    color: var(--primary);
}
.qc-card{
    text-align:center;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--secondary);
    color: white;
}
.qc-card Button{
    background-color: white;
    border-radius: 10px;
    color: var(--primary);
    border: none;
    font-weight: bold !important;
}
.qc-card p{
    font-weight: bold;
}
.qc-card Button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    
}


/* Css for previuos investors table */
.investors{
    width: 100%;
    border-collapse: separate;
    border-spacing:  0 .5em; 
    color: var(--primary);
    
}
.investors-row{
    background-color: #1b3b6f33;
    border-radius: 10px;
    margin: 1em auto;
}
.investors-cell{
    padding-left: 1em;
}
.investors-row:hover{
    background-color: #1b3b6f42;
}
td:first-child{
    font-weight: bold !important;
}
ion-chip:hover .dropdown-menu{
    display: block;
}

.grid{
    width: 100%;
}

.btn-menu{
    position: absolute;
    left: 2px;
}

.profile{
    position: absolute;
    right: 0%;
}

.big-screen{
    display: none;
}

.row{
    padding: 10px;
}

.row-1{
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 10px;
}

.row-1-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-2{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.content-area{
    width: 100%;
    background-color: #D3E2ED;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    overflow-y: scroll;
}

.end-icon{
    margin-left: auto;
}

